<div id="<%= dom_id info_personal %>">
  <p>
    <strong>Iduser:</strong>
    <%= info_personal.idUser %>
  </p>

  <p>
    <strong>City:</strong>
    <%= info_personal.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= info_personal.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= info_personal.country %>
  </p>

  <p>
    <strong>Fav charecter:</strong>
    <%= info_personal.fav_charecter %>
  </p>

  <p>
    <strong>Fav comic:</strong>
    <%= info_personal.fav_comic %>
  </p>

</div>
